[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexpechonov
[access "refs/for/refs/*"]
	read = group user/Alexpechonov
	push = group user/Alexpechonov
	label-Code-Review = -2..+2 group user/Alexpechonov
	label-Verified = -1..+1 group user/Alexpechonov
	rebase = group user/Alexpechonov
	removeReviewer = group user/Alexpechonov
	submit = group user/Alexpechonov
[access "refs/heads/*"]
	read = group user/Alexpechonov
	create = group user/Alexpechonov
	push = +force group user/Alexpechonov
	pushMerge = group user/Alexpechonov
[access "refs/tags/*"]
	push = +force group user/Alexpechonov
	pushTag = group user/Alexpechonov
	pushSignedTag = group user/Alexpechonov
